/* elements */

body {
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
  font-size: 0.95em;
  line-height: 1.6em;
  margin: 2em;
}

a {
  color: #6d7fa3;
  text-decoration: none;
}
a:visited { color: #7b69b0; }
a:hover { text-decoration: underline; }
a.notfound { background-color: yellow; }

code, pre {
  font-family: monospace;
  font-size: 1em;
}

pre {
  padding-left: 4px;
  border: 1px dashed gray;
}

h1 {
  color: #333;
  font-size: 1.8em;
  margin: 24px 0 0 0;
}

input[type=text] {
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-size: 0.9em;
}

label { font-size: .9em; }

table {
  font-size: 0.9em;
  width: 100%;
}

textarea {
  border: 1px solid #ccc;
  font-family: monospace;
  font-size: 0.9em;
  padding: 5px;
}

/* classes */

.added { background-color: yellow; }
.deleted { text-decoration: line-through; color: gray; }

.clearer { clear: both; }

.content h1, .content h2, .content h3, .content h4 {
  padding: 0 0 .4em 0;
  margin: 0 0 0 0;
}
#content h1 { font-size: 1.3em; }
#content h2 { font-size: 1.15em; }
#content h3 { font-size: 1em; }
#content h4 { font-size: 1em; font-weight: normal; }

.edit textarea {
  display: block;
  margin-bottom: 5px;
  max-height: 300px;
  /* min-width: 100%; */
}

.nav_link, .nav_link:visited {
  display: inline;
  padding: 3px;
  color: #666;
}

.nav_link:hover {
  background-color: #d1ccdb;
  color: #333;
  text-decoration: none;
}

/* .req is used to hide a honeypot in a form */
.req {
  display: none;
}

ul.messages > li {
  color: red;
  list-style: square;
  font-weight: bold;
}

#pageinfo {
  padding: 4px;
  border-top: 1px solid #ccc;
}

#footer {
  clear: both;
  border-top: 1px solid #ccc;
  margin-top: 2px;
  text-align: center;
  font-size: 80%;
  padding: 4px;
}

#footer a, #footer a:visited { color: #666; }

#navbar {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  clear: both;
}

#userbox {
  float: left;
}

#pageTitle {
  float: left;
}

#loginForm {
}

div#toc {
  float: right; 
  border: 1px dashed gray;
  margin: 0.8em;
}
#toc ul {
  margin: 0;
  padding-left: 1em;
  list-style: none;
}
#toc > ul {
  margin-right: 1em;
}
.usernav {
  text-align: left;
  float: left;
}

.sitenav {
  text-align: right;
}

.right { text-align: right; }

.search_result { margin-bottom: 15px; }

.search_result .match {
  line-height: 1em;
  margin-bottom: 15px;
}

.search_term { color: #999; }

.submit {
  font-size: 1.2em;
  font-weight: bold;
}

.pageControls {
  float: right;
}

.details {
  color: #888;
  font-size: .85em;
  margin-left: 0.3em;
  margin-right: 1em;
}
span.detail {
        color: #888;
        font-size: .85em;
}
pre.matches {
    font-size: .85em;
    margin: 0;
    padding: 0;
}

.folding ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.folding li {
    list-style: none;
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.folding li.page {
    background-image: url(page.png);
}
.folding li.folder {
    background-image: url(folder.png);
}

.folding a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
.folding a:hover {
    text-decoration: underline;
}

/* ids */

#banner {
 float: left;
}

#container {
 margin: auto;
 width: 90%;
}

#content {
  clear: both;
  /* margin-left: 12em; */
  padding: 10px 10px 2px 0px;
}

#pageTitle {
  clear: both;
}

#searchform {
  display: inline;
}

#editform label, #editform input[type=text] {
        display: block;
        width: auto;
        float: left;
        margin-right: 10px;
}

#editform br {
        clear: left;
}

#editform textarea {
  height: 25em;
  margin-top: 0em;
  width: 100%;
}
#message_textarea {
  height: 4em;
  width: 100%;
}

#search_field {
  border: 1px solid #ccc;
  color: #999;
}
